


.header{
	float:right;
	margin-right: 39px;
    margin-top: 10px;
}

.header ul li{
	list-style: none;
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	margin-left: 12px;


}

/*Hello */
.hello{
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	padding-top: 45px;

}

.greeting{
	font-size: 40px;
	color:indianred;
}

.avatar{
	width: 100px;
    height: 100px;
    float: right;

}

/*Hello Ends*/



/*Days*/
.days ul{
	list-style: none;

}

.day_font{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;

}