


.header{
	float:right;
	margin-right: 
}

.header ul li{
	list-style: none;
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;


}

/*Hello */
.hello{
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;

}
/*Hello Ends*/



/*Days*/
.days ul{
	list-style: none;

}

.day_font{
	font-family: 'Ubuntu', sans-serif;
	font-size: 32px;

}